<p>
  my-paints works!
  
</p>
<div id="container">
  <div id="row">
      <div id = "col1">
          <ul class="mypaints">
              <li *ngFor="let paint of paints" [style.backgroundColor]="paint.rgb">
                <a><span class="badge">{{paint.paintId}}</span>{{paint.paintName}}
                  </a><button (click)="removePaint(paint)" mat-mini-fab>X</button>
              </li>
            </ul>
      </div>
    <div id="col2">
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
 
      <ul class="paints">
        <li *ngFor="let paint of paints$ | async" [style.backgroundColor]="paint.rgb"(click)="onSelect(paint)">
          <a><span class="badge">{{paint.paintId}}</span>{{paint.paintName}}</a>  
        </li>
      </ul>
    </div>
  </div>
</div>
      
      
     


 

  
  
  

        
        



